{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="div1">
    <h3 class="effect">Recent Updates:</h3></div>
    {% for p in posts %}
    {% comment %} <div class="jumbotron jumbotron-fluid jumbo-color jumbo mt-4">
      <div class="container jumbo-color">
        <h1 class="display-4 font-weight-bold" >{{p.title}}</h1>
        <p class="lead mt-3">{{p.desc}}</p>
      </div>
      PASSWORD:RAMONIA2808
     {% endcomment %}
    <section id="main" class="mt-3">
      <div class="main-text">
          <span>{{p.title}}</span>
          
          <p>{{p.desc}}</p>
      </div>
      <div class="main-img">
        <img src='{% static 'blog/img/blog.webp' %}' alt="">
    
</div>
    </div>
  </section>
    {% endfor %}
    
</div>


{% endblock content %}

