{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div >
    <h3 class="effect">Hey User, Login here!</h3>
    {% if messages %}
     {% for m in messages %}
      <p {% if m.tags %} style="color:red;font-size:1.3rem;" {% endif %}>{{m}}</p>
     {% endfor %}
    {% endif %}
    <div class="wrapper">
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% for fm in form %}
         <div class="contact2">
          <br>
         {{fm.label_tag}} {{fm}}<small class="text-warning">{{fm.errors|striptags}}</small><br><br> <br></div>
        {% endfor %}
        <div class="button"><input type="submit" value="Login" class="btn"></div>
      </div>
        {% if form.non_field_errors %}
         {% for e in form.non_field_errors %}
           <p style="color:red;font-size:1.3rem;">{{e}}</p>
         {% endfor %}
        {% endif %}
    </form>
</div>


{% endblock content %}

