{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div>
    <h3 class="effect">Signup Page</h3>
    <h4 style="color: rgb(58,18,1);
    text-align: center; font-size:1.8rem ;text-decoration:underline">Hey Employee, Sign Up Here!</h4>
    {% if messages %}
     {% for m in messages %}
      <p {% if m.tags %} style="color:red;font-size:1.3rem;" {% endif %}>{{m}}</p>
     {% endfor %}
    {% endif %}
    <form action="" method="post" novalidate>
      <div class="wrapper">
        {% csrf_token %}
        {% for fm in form %}
         <div class="contact2">
          <br>
         {{fm.label_tag}} {{fm}}<small>{{fm.errors|striptags}}</small><br> <br></div>
        {% endfor %}
        <div class="button"><input type="submit" value="Submit" class=" btn"></div>
      </div>
        {% if form.non_field_errors %}
         {% for e in form.non_field_errors %}
           <p style="color:red;">{{e}}</p>
         {% endfor %}
        {% endif %}
    </form>
</div>


{% endblock content %}

